<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<header th:replace="~{fragments/common_header_fragment :: head}"></header>

<div class="container">

    <h2>Вы вошли в систему как <span sec:authentication="name"></span></h2>

    <hr>
        <p>
         Главный раздел управления товарами
        </p>
    <hr>

    <h4>Загрузить XML-файл</h4>
    <form th:action="@{'/products/upload'}" method="post" enctype="multipart/form-data" th:object="${uploadForm}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <input type="file" name="file" accept=".xml">
        <input type="hidden" name="warehouseId" th:value="${warehouseId}">
        <br>
        <br>
        <input type="submit" value="Upload">
    </form>
    <div class="notification" id="uploadNotification">
        <span th:text="${uploadStatus}" th:if="${uploadStatus != null}"></span>
    </div>

    <tr>
        <td colspan="7">
            <form th:action="@{'/products/search' }" method="get">
                <input type="text" name="name" placeholder="Поиск по имени">
                <input type="hidden" name="warehouseId" th:value="${warehouseId}">
                <button type="submit">Поиск</button>
            </form>
        </td>
    </tr>


    <form action="filter" method="post">
        <select name="sort">
            <option value="asc">По возрастанию</option>
            <option value="desc">По убыванию</option>
        </select>
        <button type="submit">Фильтровать</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Стоимость</th>
            <th>Количество</th>
            <th>Дата создания</th>
            <th>Название склада</th>
            <th>Номер склада</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.creationDate}"></td>
            <td th:text="${product.warehouse.name}"></td>
            <td th:text="${product.warehouse.id}"></td>
            <td>
                <form th:action="@{'/products/' + ${product.id} + '/edit'}" method="post" th:object="${product}">
                    <input type="hidden" name="_method" value="put">
                    <input type="text" th:field="*{name}" placeholder="Имя продукта"/>
                    <input type="text" th:field="*{description}" placeholder="Описание"/>
                    <input type="text" th:field="*{category}" placeholder="Категория"/>
                    <input type="number" step="0.01" th:field="*{price}" placeholder="Стоимость"/>
                    <input type="number" th:field="*{quantity}" placeholder="Количество"/>
                    <button type="submit">Редактировать</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/products/delete/' + ${product.id}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h3><a href="/company/manage">Вернуться в меню</a></h3>

</div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
