<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Вы вошли в систему как <span sec:authentication="name"></span></h2>

    <div>
        <a href="/orders?status=NEW">Новые заказы</a>
        <a href="/orders?status=PROCESSING">Заказы в процессе обработки</a>
        <a href="/orders?status=COMPLETED">Завершенные заказы</a>
    </div>

    <hr>

    <div sec:authorize="hasRole('CUSTOMER')">
        <hr>
        <p>
            Раздел управления заказами
        </p>
        <p>
        <form th:action="@{/orders/createOrder}" th:object="${order}" method="post">
            <label>Название: <input type="text" th:field="*{name}" required /></label><br>
            <label>Описание: <input type="text" th:field="*{description}" required /></label><br>
            <label>Добавьте товары:
                <select th:field="*{products}" multiple required>
                    <option th:each="product : ${productss}" th:value="${product.id}" th:text="${product}"></option>
                </select>
            </label><br>
            <input type="submit" value="Оформить заказ" />
        </form>
        <a href="/orders">Отменить оформление заказа</a>
    </div>

    <hr>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Количество</th>
            <th>Доставлено</th>
            <th>Статус</th>
            <th>Общая стоимость</th>
            <th>Дата создания</th>
            <th>Описание</th>
            <th>Товары</th>
            <th sec:authorize="hasRole('EMPLOYEE')">Взять в обработку</th>
        </tr>
        </thead>
    <tbody>

    <tr th:each="order_ : ${orders}">
        <td th:text="${order_.id}"></td>
        <td th:text="${order_.name}"></td>
        <td th:text="${order_.quantity}"></td>
        <td th:text="${order_.delivery}"></td>
        <td th:text="${order_.status}"></td>
        <td th:text="${order.totalCost}"></td>
        <td th:text="${order_.creationDate}"></td>
        <td th:text="${order_.description}"></td>
        <td>
            <select>
                <option th:each="product : ${order_.getProducts()}" th:value="${product.id}" th:text="${product.name}"></option>
            </select>
        </td>
        <td sec:authorize="hasRole('EMPLOYEE')" >
            <form  th:action="@{/orders/process}" th:object="${orderDTO}"  method="post">
                <input type="hidden"  th:value="${order_.id}" id="id" name="id"/>
                <input type="submit" value="Взять" />
            </form>
        </td>

        <br>
    </tr>
    </tbody>
    </table>
    <h3><a href="/index">Вернутся в меню</a></h3>
</div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>