<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<form th:action="@{employees}" method="post">
    <label for="create_username">Email:
        <input id="create_username" type="text" name="username">
    </label>

    <label for="create_email">Email:
        <input id="create_email" type="text" name="email">
    </label>

    <label for="create_firstname">Имя:
        <input id="create_firstname" type="text" name="firstname">
    </label>

    <label for="create_lastname">Фамилия:
        <input id="create_lastname" type="text" name="lastname">
    </label>

    <label for="create_password">Создайте пароль:
        <input id="create_password" type="password" name="password">
    </label>

    <button id="saveButtonEmployee" type="submit">Зарегистрировать работника</button>
</form>

<table id="saveTableEmployee">
    <tr th:if="${#lists.isEmpty(employees)}">
        <td colspan="2">
            Список работников пуст
        </td>
    </tr>
    <tr  th:if="${not #lists.isEmpty(employees)}">
        <td th:text="${employees[employees.size() - 1].getEmail}">username зарегистрированн</td>
    </tr>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var saveTable = document.getElementById("saveTableEmployee");
        var saveButton = document.getElementById("saveButtonEmployee");


        // saveButton.addEventListener("click", function () {
        //     saveTable.style.display = "table";
        // },);
        setTimeout(function() {
            saveTable.style.display = "none";
        }, 5000);
    });
</script>

</body>
</html>