<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <h1>Hello, World!</h1>
    <h2>Вы вошли в систему как <span sec:authentication="name"></span></h2>

    <hr>
        <p>
            Это приложение предназначено для управления складскими операциями в компании. Пользователи могут просматривать, добавлять, редактировать и удалять информацию о товарах, складах и заказах, а также отслеживать их статусы. Приложение также взаимодействует с внешними источниками данных для получения актуальной информации о поставках и продажах.
        </p>
    <hr>

    <h2><a href="/logout">Выйти</a></h2>

</body>
</html>