<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div class="container">
    <h1>Warehouse management</h1>
    <h2>Вы вошли в систему как <span sec:authentication="authorities"></span></h2>

    <hr>
        <p>
            Это приложение предназначено для управления складскими операциями в компании. Пользователи могут просматривать,
            добавлять, редактировать и удалять информацию о товарах, складах и заказах, а также отслеживать их статусы.
            Приложение также взаимодействует с внешними источниками данных для получения актуальной информации о поставках и
            продажах.
        </p>
    <hr>
    <a href="/warehouses">Склады</a> <br>

    <a href="/products">Товары</a>  <br>

    <a href="/orders">Заказы</a> <br>

    <a href="/employees" sec:authorize="hasRole('CUSTOMER')">Создать работника</a> <br>
    <a href="/orders/manage" sec:authorize="hasRole('EMPLOYEE')">Управление заказами</a> <br>

    <hr/>

    <h2><a href="/logout">Выйти</a></h2>
</div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>