<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Warehouses</title>
</head>
<body>

    <h2>Вы вошли в систему как <span sec:authentication="name"></span></h2>

    <hr>
        <p>
         Раздел управления складами
        </p>
    <hr>
    
    <h3><a href="/index">Вернутся в меню</a></h3>

    <form th:action="@{/warehouses}" th:object="${warehouse}" method="post">
        <label>Name: <input type="text" th:field="*{name}" required /></label><br>
        <label>Address: <input type="text" th:field="*{address}" required /></label><br>
        <label>Capacity: <input type="text" th:field="*{capacity}" required /></label><br>
        <label>Contact Information: <input type="text" th:field="*{contactInformation}" required /></label><br>
        <label>Creation Date: <input type="date" th:field="*{creationDate}" required /></label><br>

        <input type="submit" value="Create" />
        <a href="/">Cancel</a>
    </form>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Capacity</th>
            <th>Contact Information</th>
            <th>Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="7">
                <form th:action="@{'/warehouses/' + ${warehouse.name}}" method="get">
                    <input type="text" name="filter" placeholder="Search by name">
                    <button type="submit">Search</button>
                </form>
            </td>
        </tr>
        <tr th:each="warehouse : ${warehouses}">
            <td th:text="${warehouse.name}"></td>
            <td th:text="${warehouse.address}"></td>
            <td th:text="${warehouse.capacity}"></td>
            <td th:text="${warehouse.contactInformation}"></td>
            <td th:text="${warehouse.creationDate}"></td>
            <td>
                <form th:action="@{'/warehouses/' + ${warehouse.id}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>